//font-family: 'Poppins', sans-serif;
$darkblue: #0c3483;
$lightblue: #a2b6df;
$paleblue: #6b8cce;

.communityoutercontainer {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;    
    
}
.communitycontainter {
    font-family: 'Poppins', sans-serif;
    width: 95vw;
    height: 100%;
    min-width: 5rem;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, rgba( 255, 255, 255, 0.1 )  0%, rgba( 255, 255, 255, 0.25 )  100%, rgba( 12, 52, 131, 0.25 )  100%, rgba( 12, 52, 131, 0.25 )  100%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1rem;
    min-height: 45rem;
    display: flex;
    flex-direction: column;
}
.columncontainer {
    display: flex;
    flex-direction: row;
}
.columnone {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: cneter;
    text-align: center;
    flex-direction: column;
}
.columntwo {
    width: 1vw;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40rem;
}
.columnthree {
    width:64vw;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $darkblue;
    min-height: 40rem;
    background-color: $paleblue;
    border-radius: 0rem 1rem 0rem 1rem;
}
.communitycontainercolor {
    width: 30vw;
    border-radius: 1rem 0rem 1rem 0rem;
    background-color: rgba(107, 140, 206, 1);
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40rem;
}

.communitycontainercolorvideotitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 4rem;
}

.accentline {
    height: 0vh;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 28vw;
    border-bottom: .2rem solid $darkblue;
    order: 1;
}
.communitycontainercapybara {
    width: 30vw;
    border-radius: 1rem 0rem 0rem 0rem;
    color: $darkblue;
    padding: .1rem;
    font-size: 3.2rem;
    order: 2;
}
.capyvideoclass {
    height: 22vh;
    order: 0;
    margin-top: 1rem;
    align-self: center;
    align-items: center;
    width: 28vw;
    border-radius: 1rem;
    outline: .2rem solid $darkblue;
}

.startgamebutton {
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    border: .15rem solid $darkblue;
    color: $darkblue;
    order: 3;
    background-color: $lightblue;
    cursor: pointer;
}
.startgamebutton:hover {
    background-color: $darkblue;
    color: $lightblue;
    border: .15rem solid $lightblue;
    cursor: pointer;

}
.clickercontainer {
    color: $darkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30vw;
    font-size: 1rem;
    margin-bottom: 5%;
}

.capybarabutton {
    background-image: url('../../assets/capybaraclicker.png');
    background-repeat: no-repeat;
    width: 10rem;
    height: 7rem;
    background-size: contain;
    border-radius: 1rem;
    cursor: pointer;
}

.box {
    animation: wobble 1s ease infinite;
}
.box:hover{
    animation: none;
}
.box:focus {
    animation: none;
}


@keyframes wobble {
    0%, 100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-32px) rotate(-10deg);
        transform: translateX(-32px) rotate(-10deg);
    }

    30% {
        -webkit-transform: translateX(calc(32px / 2)) rotate(10deg);
        transform: translateX(calc(32px / 2)) rotate(10deg);
    }

    45% {
        -webkit-transform: translateX(calc(-32px / 2)) rotate(calc(-10deg / 1.8));
        transform: translateX(calc(-32px / 2)) rotate(calc(-10deg / 1.8));
    }

    60% {
        -webkit-transform: translateX(calc(32px / 3.3)) rotate(calc(10deg / 3));
        transform: translateX(calc(32px / 3.3)) rotate(calc(10deg / 3));
    }

    75% {
        -webkit-transform: translateX(calc(-32px / 5.5)) rotate(calc(-10deg / 5));
        transform: translateX(calc(-32px / 5.5)) rotate(calc(-10deg / 5));
    }
}
.capybaratitlecontainer {
    display: flex;
    width: 64vw;
    text-align: center;
    column-gap: 5vw;

}

.capybarafactsdiv {
    background-image: url('../../assets/hoodiebara.png');
    width: 15rem;
    height: 15rem;
    align-self: flex-start;
    justify-self: start;
    background-size: cover;
    border-radius: 0rem 1rem 0rem 0rem;
    background-repeat: no-repeat;
}
.factstitle{
    justify-self: start;
    align-self: flex-start;
    font-size: 3.6vw;
}
.capyfactscontainer {
    display: flex;
    text-align: left;
    width: 100%;
}
.capyfacts {
    align-self: flex-start;
    text-align: left;
}