//font-family: 'Poppins', sans-serif;

$darkblue: #0c3483;
$lightblue: #a2b6df;
$paleblue: #6b8cce;
$myyellow: #EAF9D9;


body {
    background: linear-gradient(-45deg, $darkblue, $lightblue, $paleblue);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.capybaracontainer {
    display: flex;
    background-image: url('../../assets/capybarabathtubsunglasses.png');
    background-size: contain;
    min-height: 95.2vh;
    width: 100%;
    position: absolute;
    background-position: -25% 10rem;
    overflow: hidden;
    justify-content: center;
    background-repeat: no-repeat;
    z-index: 1;
}
@media (max-width: 2000px) { 
    .capybaracontainer {
        width: 100%;
        background-position: -10rem 20rem;
    }
    .hometitle {
        max-width: 30rem !important;
        font-size: 2rem !important;
        max-height: 20rem !important;
        margin-left: 50% !important;
        margin-top: 4% !important;
    }
}
@media (max-width: 1400px) { 
    .capybaracontainer {
        width: 100%;
        background-position: -1rem 20rem;
    }
}
@media (max-width: 1300px) { 

    .hometitle {
        max-width: 25rem !important;
        font-size: 1.3rem !important;
        max-height: 15rem !important;
        margin-left: 45% !important;
        margin-top: 4% !important;
    }
}
@media (max-width: 1000px) {
    .homeoutercontainer {
        background-size: 400% 400%;
        height: 95.2vh;
    }
    .capybaracontainer {
        width: 100%;
        background-position: -1rem 25rem;
    }
    .hometitle {
        max-width: 20rem !important;
        font-size: 1rem !important;
        max-height: 10rem !important;
        margin-left: 40% !important;
        margin-top: 8% !important;
    }
}
@media (max-width: 900px) {
    .capybaracontainer {
        width: 100%;
        background-position: -1rem 25rem;
    }
    .hometitle {
        max-width: 15rem !important;
        font-size: .8rem !important;
        max-height: 8rem !important;
        margin-left: 55% !important;
        margin-top: 10% !important;
    }
    .capybaracontainer {
        background-position: -1rem 13rem;
    }
}
@media (max-width: 700px) {
    .hometitle {
        max-width: 12rem !important;
        font-size: .8rem !important;
        max-height: 8rem !important;
        margin-left: 45% !important;
        margin-top: 25% !important;
    }
    .capybaracontainer {
        width: 95%;
        background-position: -3rem 14rem;
    }
    .okayIpullup {
        width: 0;
        height: 0;
        visibility: hidden !important;
    }
    .okayIpullup:before {
        visibility: hidden !important;
    }
}
.hometitle {
    display: flex;
    flex-direction: column;
    width: 35rem;
    margin-top: 2%;
    margin-left: 55%;
    height: 28rem;
    justify-items: center;
    align-items:center;
    font-size: 2.9rem;
    color: $darkblue;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, rgba( 255, 255, 255, 0.1 )  0%, rgba( 255, 255, 255, 0.25 )  100%, rgba( 12, 52, 131, 0.25 )  100%, rgba( 12, 52, 131, 0.25 )  100%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.okayIpullup{
    position: absolute;
    top: 20vmin;
    left: 46vmin;
    width: 0.5%;
    height: 2vmin;
    color: $darkblue;
    border-radius: 50%;
    animation: 3s steam infinite ease-in-out alternate;
}
.okayIpullup:before {
    content: "okay I pull up";
    position: absolute;
    right: 10%;
    opacity: .4;
    width: 20rem;
    height: 20rem;
}

@keyframes steam {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.8;
    }
}