//font-family: 'Poppins', sans-serif;
$darkblue: #0c3483;
$lightblue: #a2b6df;
$paleblue: #6b8cce;

.navbarcontainer {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
    color: $darkblue;
    margin-left: 4rem;
    padding-left: .5rem;
    padding-right: .5rem;
}
a:hover {
    outline: .17rem solid $darkblue;
    outline-offset: -.18rem;
    border-radius: 1rem;
}
.linkcontainer {
    display: flex;
    column-gap: 2rem;
}
